.homePageWrapper{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 100vh;

}
.formWrapper{
   background:#282a36;
   padding: 20px;
   border-radius: 10px;
   width: 400px;
   max-width: 90%;
}
footer{
  position: fixed;
  bottom:0;
}
.inputGroup{
  display: flex;
  flex-direction: column;
}
.mainLable{
  margin-bottom: 20px;
  margin-top: 0px;

}
.homePageLogo
{
  height: 80px;
  margin-bottom: 0;
}
.inputBox{
  padding:10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #110909;
  font-size: 16px;
  font-weight: bold;
}

.btn{
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  color: #110909;

}
.joinBtn,.leaveBtn,.copyBtn,.compileBtn{
  background:#4aed88 ;
  width: 100px;
  margin-left: auto;
}
.joinBtn:hover ,.leaveBtn:hover,.copyBtn:hover,.compileBtn:hover{
  background: #2b824c;
}

.createInfo{
  
  margin: 0 auto;
  margin-top: 20px;
}

.createNewBtn{
  color: #4aed88 ;
  text-decoration: none;
  border-bottom: 1px solid #4aed88;
  transition: all 0.3s ease-in-out;

}
.createNewBtn:hover{
  color:#2b824c ;
  border-color: #2b824c;
}

.mainWrap{
  
  
  display: grid;
  grid-template-columns: 230px 1fr;
 
}

.aside{
  background: #1c1e29;
  padding: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.asideInner{
  flex: 1;
}
.clientsList{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.client{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}
.userName{
  margin-top: 10px;
}
.logo{
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;
}
.logoImg{
  height: 60px;
}
.leaveBtn,.copyBtn,.compileBtn{
  margin-top: 20px;
  width: 100%;
}
.CodeMirror{
   min-height: calc(100vh-1px);
   font-size: 20px;
   line-height: 1.6;
   padding-top: 20px;
}

/* added for code-compiler */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
